body {
  color: #757575;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

svg {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

.container {
  margin: 0px auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.photo {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-family: inherit;
  margin-top: 30px;
  padding: 10px 32px;
  border-radius: 4px;
  border-color: transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: #188ce8;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  color: #000000;
}

.logo--accent-color {
  color: #2196f3;
}

.page-header {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.mobile {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.mobile__button--open, .mobile__button--close {
  border: none;
  background: none;
  fill: currentColor;
}

.mobile__button--close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile__button--open:hover, .mobile__button--open:focus, .mobile__button--close:hover, .mobile__button--close:focus {
  cursor: pointer;
  fill: #2196f3;
}

.mobile__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  padding: 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile__menu.is-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-nav__link--curent {
  color: #2196f3;
}

.mobile-nav__link:hover, .mobile-nav__link:focus {
  color: #2196f3;
}

.mobile-contacts {
  margin-top: auto;
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-contacts__link--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}

.mobile-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
  padding-right: 10px;
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .page-header__desktop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .page-header__desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__desktop {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 88px;
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  padding-bottom: 28px;
  padding-top: 28px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .site-nav__link {
    padding-bottom: 32px;
    padding-top: 32px;
  }
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav__link--curent {
  color: #2196f3;
}

.site-nav__link--curent {
  position: relative;
}

.site-nav__link--curent::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  right: 0;
  border-radius: 2px;
  background-color: #2196f3;
}

.contacts {
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contacts__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  fill: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    font-weight: 500;
    line-height: 1.17;
  }
}

.contacts__icon {
  margin-right: 8px;
}

@media screen and (min-width: 1200px) {
  .contacts__icon {
    margin-right: 10px;
  }
}

.hero {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-480.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-480.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 480px 420px;
  background-color: #c4c4c4;
  max-width: 480px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-480@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-480@2x.jpg);
  }
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-768.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-768.jpg);
    background-size: cover;
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-768@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-768@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-768@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-768@2x.jpg);
    background-size: cover;
    max-width: 1200px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-1200@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-1200@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-1200@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-1200@2x.jpg);
    background-size: cover;
    max-width: 1600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-1200@3x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-1200@3x.jpg);
  }
}

.hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

@media screen and (max-width: 767px) {
  .hero__title {
    width: 360px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 450px;
  min-height: 609px;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.modal__close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:focus, .modal__close:hover {
  fill: #2196f3;
}

.modal__container {
  padding: 40px;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1, 15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.form-thumb {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-thumb + .form-thumb {
  margin-top: 10px;
}

.form-thumb__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form-thumb__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-thumb__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  pointer-events: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-thumb:focus-within .form-thumb__icon {
  fill: #2196f3;
}

.form-thumb:focus-within .form-thumb__input {
  border-color: #2196f3;
  outline: none;
}

.form-thumb__textarea {
  resize: none;
  padding: 12px 16px;
  cursor: pointer;
  height: 120px;
  border-color: rgba(33, 33, 33, 0.2);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-thumb__textarea:focus {
  outline: none;
  border-color: #2196f3;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.checkbox__label {
  color: #757575;
  cursor: pointer;
  position: relative;
  padding-left: 20px;
}

.checkbox__link {
  color: #2196f3;
}

.checkbox__accept {
  cursor: pointer;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__icon {
  position: absolute;
  top: 4px;
  left: 0;
  fill: #ffffff;
  border: 1px solid #212121;
  border-radius: 2px;
  width: 16px;
  height: 15px;
  cursor: pointer;
}

.checkbox__accept:checked + .checkbox__icon {
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position-x: 1px;
  background-position-y: 2px;
  background-size: cover;
  background-color: #2196f3;
  border-color: #2196f3;
}

.checkbox__accept:focus + .checkbox__icon {
  border-color: #2196f3;
}

/* Modal button */
.submit-button {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  border-color: transparent;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover, .submit-button:focus {
  background-color: #188ce8;
  outline: transparent;
}

.feuteres {
  padding-top: 60px;
}

@media screen and (max-width: 1199px) {
  .feuteres {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .feuteres {
    padding-top: 94px;
  }
}

@media screen and (min-width: 768px) {
  .feuteres__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feuteres__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.feuteres__title {
  color: #212121;
  font-weight: 700;
  line-height: 1.14;
}

@media screen and (max-width: 767px) {
  .feuteres__title {
    text-align: center;
  }
}

.feuteres__image-thumb {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .feuteres__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feuteres__item {
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .feuteres__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .feuteres__text {
    margin-top: 10px;
    max-width: 270px;
  }
}

@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}

.works {
  padding-top: 94px;
  padding-bottom: 94px;
}

.works__title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.66;
  text-align: center;
  margin-bottom: 50px;
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__item {
  position: relative;
}

.works__item:not(:last-child) {
  margin-right: 30px;
}

.works__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
}

.works__text {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.66;
    margin-bottom: 50px;
  }
}

.worker-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .worker-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .worker-list {
    margin-left: -30px;
    margin-top: -30px;
  }
}

.worker-list__item {
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .worker-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .worker-list__item {
    -ms-flex-preferred-size: calc((100 - 4 * 15px) / 2);
        flex-basis: calc((100 - 4 * 15px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .worker-list__item {
    margin-right: 30px;
  }
  .worker-list__item:last-child {
    margin-right: 0px;
  }
}

@media screen and (max-width: 767px) {
  .worker-list__photo {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .worker-list__photo {
    width: 354px;
  }
}

.worker-list__info {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .worker-list__info {
    padding-bottom: 30px;
  }
}

.worker-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

.worker-list__profecion {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list__thumb:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: block;
  background-color: #ffffff;
  padding: 12px;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
  cursor: pointer;
}

.clients__title {
  font-size: 28px;
  line-height: 1.17;
  font-weight: 700;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.66;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .clients__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.clients__item {
  -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
      flex-basis: calc((100% - 4 * 15px) / 2);
  padding: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 6 * 15px) / 3);
        flex-basis: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (max-width: 1199px) {
  .clients__item {
    margin-left: 30px;
    margin-top: 30px;
    width: 210px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__icon {
  display: block;
  padding: 16px 52px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .clients__icon {
    padding: 16px 60px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__icon {
    padding: 16px 32px;
  }
}

.clients__icon:focus, .clients__icon:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
  cursor: pointer;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .footer__container {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer {
  background-color: #2f303a;
  font-style: normal;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.address {
  color: var(--primary-white-color);
  font-style: normal;
}

@media screen and (min-width: 1200px) {
  .address {
    margin-top: 20px;
  }
}

.address__contacts {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__contacts:hover, .address__contacts:focus {
  color: #2196f3;
}

.footer__logo {
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .footer__logo {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    margin-right: 0px;
  }
}

.footer__logo--accent-color {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .footer-social {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 70px;
  }
}

.footer-social__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .footer-social__title {
    margin-bottom: 20px;
  }
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1200px) {
  .footer-social__list {
    margin-top: 20px;
  }
}

.footer-social__link:not(:last-child) {
  margin-right: 10px;
}

.footer-social__icon {
  display: block;
  padding: 12px;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__icon:hover, .footer-social__icon:focus {
  background-color: #2196f3;
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .footer-email {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-email {
    margin-left: 93px;
  }
}

.footer-email__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-email__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

@media screen and (max-width: 1199px) {
  .footer-email__thumb {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-email__input {
  display: block;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  height: 50px;
  width: 358px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .footer-email__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-email__input {
    margin-right: 12px;
    width: 358px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-email__input {
    margin-bottom: 20px;
  }
}

.footer-email__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
}

.footer-email__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
}

.footer-email__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
}

.footer-email__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
}

.footer-email__input:focus {
  outline: none;
  border-color: #2196f3;
}

.footer-email__subscribe-button {
  padding: 10px 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2196f3;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border-color: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email__subscribe-button:hover, .footer-email__subscribe-button:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.footer-email__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.footer-email__icon-telegram {
  fill: #ffffff;
  margin-left: 10px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 34px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter__item:nth-last-child(3) {
    margin-right: 0px;
  }
  .filter__item:not(:nth-child(n + 2)) {
    margin-bottom: 12px;
  }
}

.filter__button {
  padding: 6px 22px;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border-radius: 4px;
  border-color: transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  border-color: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects {
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
  }
}

@media screen and (max-width: 767px) {
  .projects__card:not(:last-child) {
    margin-bottom: 30px;
    min-width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects__card {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__card {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.projects__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects__link {
    max-width: 354px;
    max-height: 440px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__link {
    max-width: 370px;
    max-height: 404px;
  }
}

.projects__link:focus, .projects__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__name-block {
  padding: 20px 24px 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects__name-block {
    height: 138px;
  }
}

.projects__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__variant {
  line-height: 1.8;
  color: #757575;
}

.projects__thumb {
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .projects__photo {
    width: 450px;
  }
}

.projects__description {
  display: block;
  padding: 63px 24px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 294px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #2196f3;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .projects__description {
    width: 100%;
    height: 100%;
    padding: 77px 24px;
  }
}

.projects__link:hover .projects__description,
.projects__link:focus .projects__description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */