$primary-text-color: #757575;
$primary-white-color: #ffffff;
$secondary-bacground-color: #f5f4fa;
$secondary-text-color: #212121;
$accent-color: #2196f3;
$third-background-color: #2f303a;
$primary-icon-color: #afb1b8;
$card-set-gap: 30px;
$cubic-animation: cubic-bezier(0.4, 0, 0.2, 1);
